html, body {
  height:100%;
  font-family: 'GmarketSans';
}
.custom-control-input:checked~.custom-control-label::before {
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-yellow {
    background-color: yellow;
}
